<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- E2E Test loggers -->
    <logger name="com.ecommerce.e2e" level="INFO"/>
    
    <!-- Testcontainers -->
    <logger name="org.testcontainers" level="INFO"/>
    <logger name="com.github.dockerjava" level="WARN"/>
    <logger name="tc" level="INFO"/>
    
    <!-- REST Assured -->
    <logger name="io.restassured" level="WARN"/>
    
    <!-- Reduce noise from other libraries -->
    <logger name="org.apache.kafka" level="WARN"/>
    <logger name="org.springframework" level="WARN"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
